*{
    margin: 0;
    padding: 0;
}

#clockContainer{
    position: relative;
    margin: auto;
    /* border: 2px solid black; */
    height: 40vw;
    width: 40vw;
    background: url('clock.png') no-repeat;
    background-size: 100%;
}

#hour,#minute,#second{
    position: absolute;
    background: rgb(85, 76, 76);
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 1.5%;
    height: 21%;
    top: 29%;
    left: 49.7%;
    opacity: 0.8;
    /* display: none; */
}


#minute{
    width: 1.1%;
    height: 26%;
    top: 23%;
    left: 49.8%;
    opacity: 0.8;
    /* display: none; */
}


#second{
    width: 0.8%;
    height: 30%;
    top: 20%;
    left: 49.85%;
    opacity: 0.8;
     /* display: none; */
}

